### List

In [46]:
Li_Courses=["Statistics","Linear ALgebra","Graph theory","Optimization techniques"] # declaration of list

In [47]:
# List indexing and slicing
print(Li_Courses[1])
print(Li_Courses[-1])
print(Li_Courses[0:2])

Linear ALgebra
Optimization techniques
['Statistics', 'Linear ALgebra']

In [48]:
print(Li_Courses[0::2]) # Printing list values which are in odd place i.e 1st,3rd,5th....
print(Li_Courses[1::2]) # Printing list values which are in even place i.e 2nd,4th,6th....

['Statistics', 'Graph theory']
['Linear ALgebra', 'Optimization techniques']

In [49]:
#list[start:end:step]
print(Li_Courses[4::-1]) # Printing list in reverse order

['Optimization techniques', 'Graph theory', 'Linear ALgebra', 'Statistics']

In [53]:
Li_Courses

['Statistics', 'Linear ALgebra', 'Graph theory', 'Optimization techniques']

In [50]:
Li_Courses[:-1]

['Statistics', 'Linear ALgebra', 'Graph theory']

In [52]:
Li_Courses[1:-1]

['Linear ALgebra', 'Graph theory']

In [54]:
print(Li_Courses[4::-2])

['Optimization techniques', 'Linear ALgebra']

In [16]:
print(dir(Li_Courses)) #All functions which can be performed on List data structures

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [18]:
Li_Courses.append("Numerical methods") # Appending list
print(Li_Courses)

['Statistics', 'Linear ALgebra', 'Graph theory', 'Optimization techniques', 'Numerical methods']

In [19]:
# Appending list on other list
Li_Courses_2=["DBMS","O.S"]
Li_Courses.extend(Li_Courses_2)
print(Li_Courses)

['Statistics', 'Linear ALgebra', 'Graph theory', 'Optimization techniques', 'Numerical methods', 'DBMS', 'O.S']

In [20]:
# Inserting values in a given index
Li_Courses.insert(4,"Digital Signal Processing")
print(Li_Courses)

['Statistics', 'Linear ALgebra', 'Graph theory', 'Optimization techniques', 'Digital Signal Processing', 'Numerical methods', 'DBMS', 'O.S']

In [23]:
# Removing values in List
Li_Courses.remove("Graph theory")
print(Li_Courses)

['Statistics', 'Linear ALgebra', 'Optimization techniques', 'Digital Signal Processing', 'DBMS', 'O.S']

In [24]:
# Removing list values and returning deleted values
popped=Li_Courses.pop() #  Return and remove last value in the list
print(f"Deleting value ={popped}" )

Deleting value =O.S

In [25]:
Li_rank=[4,3,1,9,10]

In [27]:
print(max(Li_rank)) # printing maximum values in the List

10

In [29]:
print(sum(Li_rank)) # returning sum

27

In [31]:
print(sorted(Li_rank)) # returning sorted list Note: Not inplace, By default: ASC
print(Li_rank)

[1, 3, 4, 9, 10]
[4, 3, 1, 9, 10]

In [33]:
Li_rank.sort() # Sorting list Note: Inplace, By default: ASC
print(Li_rank)

[1, 3, 4, 9, 10]

In [34]:
Li_rank.sort(reverse=True) # Sorting in descending order
print(Li_rank)

[10, 9, 4, 3, 1]

In [36]:
# List to string and string to list
Li_Courses=["Statistics","Linear ALgebra","Graph theory","Optimization techniques"]
Course_str='-'.join(Li_Courses) # List to string
print(Course_str)

List_Courses=Course_str.split("-") # string to list
print(List_Courses)

Statistics-Linear ALgebra-Graph theory-Optimization techniques
['Statistics', 'Linear ALgebra', 'Graph theory', 'Optimization techniques']

### Tuple
One major difference between list and tuple is list is mutable and tuple are immutable

In [37]:
Li_1=[1,2,3,4]
Li_2=Li_1
Li_2[0]=-20
print(Li_1)

[-20, 2, 3, 4]

-->Li_2 modification impacts Li_1 because they have a common address space.

-->In the above code snippet, we can see that we are able to modify the list values after declaration.

In [39]:
Tu_1=(1,2,3,4)
Tu_2=Tu_1
Tu_2[0]=-20 # Tuples are immutable So, this will throw error
print(Tu_1)

TypeError: 'tuple' object does not support item assignment

### Set

In [45]:
Si_1={}  # Empty dict
print(type(Si_1))
Si_1=set() # This is the way to initialize empty set
print(type(Si_1))

<class 'dict'>
<class 'set'>

In [42]:
Se_1={1,2,3,4,1}
print(Se_1)
Se_2={2,3,8,9}

{1, 2, 3, 4}

In [41]:
print(1 in Se_1)

True

In [43]:
print(Se_1.intersection(Se_2))

{2, 3}

In [44]:
print(Se_1.union(Se_2))

{1, 2, 3, 4, 8, 9}

### Sorting of List, Tuple and Dict

In [55]:
Li=[3,6,7,2,1,0,-1]
Sor_Li=sorted(Li) # Not inplace and ascending by default
print(Sor_Li)

[-1, 0, 1, 2, 3, 6, 7]

In [56]:
Sor_Li=sorted(Li,reverse=True) # Not inplace and ascending by default
print(Sor_Li)

[7, 6, 3, 2, 1, 0, -1]

In [58]:
Li.sort()
print(Li)

[-1, 0, 1, 2, 3, 6, 7]

In [57]:
tu=(1,0,-1,-2)
tu.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [61]:
dic={"name":"Danish","Age":25,"occupation":"Student"}
sor_dic=sorted(dic)  # we get sorted list of keys
print(sor_dic)

['Age', 'name', 'occupation']

In [63]:
Li=[3,6,7,2,1,0,-1,-2]
print(sorted(Li))
print(sorted(Li,key=abs))

[-2, -1, 0, 1, 2, 3, 6, 7]
[0, 1, -1, 2, -2, 3, 6, 7]

In [71]:
class Employee():
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
        
    def __repr__(self):
        return(f"{self.name},{self.age},{self.salary}$")

e1=Employee('Danish',25,2000)
e2=Employee('Sanketa',35,3000)
e3=Employee('Hari',45,4000)

In [73]:
Employees=[e1,e2,e3]
print(Employees)

[Danish,25,2000$, Sanketa,35,3000$, Hari,45,4000$]

In [74]:
def sort_emp(emp):
    return emp.name

S_employees=sorted(Employees,key=sort_emp)

In [76]:
print(S_employees)

[Danish,25,2000$, Hari,45,4000$, Sanketa,35,3000$]